<div class="course-slide">
  <div class="course-card">
    <div class="course-header">
      <div class="course-image-container" data-course-image></div>
      <div class="course-info">
        <h4 class="course-title" data-course-name></h4>
        <p class="course-description" data-course-description></p>
        <div class="course-meta-actions">
          <div class="course-meta" data-course-meta></div>
          <a class="btn-course-cta" data-course-link title="View Details">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"
              />
            </svg>
          </a>
        </div>
        <div class="course-rating" data-course-rating></div>
        <div class="course-tags" data-course-tags></div>
      </div>
    </div>
  </div>
</div>
